body {
  display: grid;
  grid-template: 33.333333% 33.333333% 33.333333% / 20% 20% 20% 40%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  height: 100vh;
  width: 100vw;
}

main {
  grid-row: 1 / 2;
  grid-column: 1 /  3;
  background-color: #EC5281;
  padding: 35px;  
}

h1 {
  font-weight: 800;
  font-size: 2em;
  margin-top: 20px;
}

p {
  align-self: center;
  margin-top: 15px;
  line-height: 25px;
  width: 80%;
  margin-bottom: 10px;
}

button {
  width: 20%;
  height: 50px;
  color: white;
  background-color: #EC5281;
  border: solid 2px white;
  font-size: 15px;
  margin-left: 10px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.box1 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background-color: #BDE4F9;
}

.box1:hover {
  background-image: url('https://media.giphy.com/media/oSYflamt3IEjm/giphy.gif');
}

i {
  font-size: 6vw;
}

.box2 {
  background-color: #BDE4F9;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.box3 {
  background-color: #48A8EE;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.box4 {
  background-color: #EC5281;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.box5 {
  background-color: #EC5281;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.box6 {
  background-color: #BDE4F9;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.box7 {
  background-color: #48A8EE;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.image-section {
  grid-row: 1 / 4;
  grid-column: 4 / 5;
  background-image: url("https://assets.rbl.ms/14674409/980x.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

@media screen and (max-width: 850px) {
  
  body {
    grid-template: 25% 25% 25% 25% / 33.333333% 33.33333% 33.33333%;
  }

  .image-section {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-image: url("https://pre00.deviantart.net/07a6/th/pre/f/2017/171/5/6/nozomi_toujou_vaporwave_art_by_dariasucc-dbddptk.png");
  }

  main {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding: 0px;
    padding-left: 25px;
  } 

  h1 {
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 15px;
}

  p {
    align-self: center;
    margin-top: 0px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  button {
    width: 20%;
    height: 35px;
    color: white;
    background-color: #EC5281;
    border: solid 2px white;
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 10px;
  }  

  .box1 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }

  .box2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .box3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .box4 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
  }

  .box5 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  .box6 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
  }

  .box7 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

}

/*@media screen and (max-width: 550px) {
  body{
    grid-template: 33vh 33vh 33vh 33vh 33vh 33vh 33vh 33vh 33vh 33vh 33vh 33vh / 100%;
  
  }
  .bio-content {
    grid-row: 2 / 3;
    height: 50vh;
  }

  .profile-content {
    grid-row: 3 / 4;
  }
  .box1 {
    grid-row: 4 / 5;
  }

  .box2 {
    grid-row: 5 / 6;
  }
  .box5 {
    grid-row: 6 / 7;
  }
  .box6 {
    grid-row: 7 / 8;
  }
}*/











